
 /* <ESTILOS YEISON> */
main > .container {
    padding: 30px 0;
  }
  .avatar{
    height: 80px;
    width: 80px;
    margin: 0 5px 0 0;
  }
  /* </FINALIZA ESTILOS YEISON> */

/* INICIA CSS FORMULARIO LOGIN Y REGISTRO BRYAN*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background:  white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #4285F4;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 200ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}
.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    transition: all 200ms;
}
 .caja__trasera button:hover{
    background: #fff;
    color: #153a74;
 }

 /* FORMULARIOS*/

 .contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 200ms cubic-bezier(0.175, 0885, 0.320, 1.275);
    
 }

 .contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background:white;
    position: absolute;
    border-radius: 20px;
 }
 .contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:#153a74;
 }
 .contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
 }

 .contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #4285F4;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
 }

 .contenedor__login-register button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }

 .formulario__login{
    opacity: 1;
    display: block;
 }

 .formulario__register{
    display: none;
 }

 .contenedor__login-register a{
    display: flex;
     text-decoration: none;
     margin-left: 60px;
     color: gray;  
     margin-top: 10px; 
 }
 .contenedor__login-register a:hover{
    color: #4285F4;
 }

 .contenedor__login-register button:hover{
    background:  #153a74;
    color:  white;
 }

 hr{
    margin-top: 30px;
 }

 /* RESPONSIVE*/

 @media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
head
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }
    /* FORMULARIO*/
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form{
        position: relative
    }
 }


.red{
    color: red;
}

.green{
    color: rgb(255, 251, 0);
   
}
/* TERMINA CSS BRYAN*/


/* INICIA CSS BRANDON */
:root{
    --azul-primario:#4285F4;
    --gris: #1f2d3d;
    --azul-hover:#153a74;
}
    
h1{
    color: #153a74;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
    min-height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
   
}
  
    
/* NAV */
#nav-container{
    display: flex;
    width: 100%;
    background-color: var(--azul-primario);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav img{
    height: 130px;
    
}

nav .icon{
    font-size: 35px;
    font-weight:700;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
    margin-right: 50px;
    
}

nav ol li{
    margin: 0 2px;
    
}
 
nav ol li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a{
    background-color: white;
    color:var(--azul-primario);
    border-radius: 3px;
    transition: all 0.8s;
}
 

nav .search-box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search-box input{
    border: none;
    outline:none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}


nav .search-box span{
    color: var(--azul-primario);
    font-size: 20px;
    background: white;
    height: 55%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search-box span:hover{
    color: rgb(255, 255, 255);
}

nav .search-box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background:grey;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index:-1;
    transition: 0.3s;
}

nav .search-box span:hover::after{
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span{
    position: absolute;
    color: white;
    font-size: 35px;
}
    

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}
/* MEDIA NAV */
@media screen and (max-width: 1250px){

    #nav-container{
        display: block;
        padding: 0;
    }
    nav .icon{
        display: inline-block;
        padding: 15 30px;
        display: flex;
    }
    
    
    
    nav .search-box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    
    nav .search-box input{
        width: 90%;
    }
    nav ol{
        display: flex;
        flex-direction: column;
        background: var(--azul-primario);
        height: 0;
        visibility: hidden;
            transition: 0.3s;
        }
        
        nav ol li{
            text-align: center;
            transition: 0.3s 0.1S all;
            opacity: 0;
        }
        nav ol li a{
            color: black;
            font-size: 28px;
            padding: 25px;
            display: block;
        }
        nav ol li:nth-child(1){
            transform: translateX(-150px);
        }
        nav ol li:nth-child(2){
            transform: translateX(-200px);
        }
        nav ol li:nth-child(3){
            transform: translateX(-250px);
        }
        nav ol li:nth-child(4){
            transform: translateX(-300px);
        }
        nav ol li:nth-child(5){
            transform: translateX(-350px);
        }
        
        
        nav .bar{
            display: block;
            position: absolute;
            top: 20px;
            right: 80px;
            cursor: pointer;
        }
        
        nav .bar #times{
            display: none;
        }
        
        #check:checked ~ #nav-container .bar #times{
            display: block;
        }
        #check:checked ~ #nav-container .bar #bars{
            display: none;
        }

        #check:checked ~ nav ol{
            visibility: visible;
            height: 465px;
        }
        
        
        #check:checked ~ nav ol li:nth-child(1),
        #check:checked ~ nav ol li:nth-child(2),
        #check:checked ~ nav ol li:nth-child(3),
        #check:checked ~ nav ol li:nth-child(4),
        #check:checked ~ nav ol li:nth-child(5){
            transform: translateX(0);
            opacity: 1;
        }
    }
/* /NAV */


/* CONTENIDO */
.container-card{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
   
    
}
    
   

.container-card .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    
}
.container-card .card:hover{
    transform: translateY(-30px);
    box-shadow: 0 12px 16px var(--azul-hover);
}

.container-card img{
    width: 320px;
    height: 220px;
}
 
.container-card h3{
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


 
.container-card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}

.container-card a{
    font-size:20px;
    font-weight: 500;
    text-decoration: none;
    color:grey;
}
.container-card a:hover{
    color:var(--azul-primario);
}
    
/* /CONTENIDO */
/* FOOTER */
footer{
    background-color:var(--azul-primario);
    width: 100%;
    height:50px;
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
    
    
footer strong a{
    color: rgb(233, 230, 230);
}
    

footer  .logo{
    height: 50px;
    float: left;
}

footer p{
    color: white;
}
/* /FOOTER  */

/* FIN CSS BRANDON */



    
    


    
    
    






  
      




    
    
    


    
    
    

    
   


    

    




    


    





